/* Forms */
::placeholder{
	color:#fff;
	@media screen and (min-width: $laptop_small){
		color:#999;
	}
}

label {
	font-size:12px;
	color:$label_modile_color;
	@media screen and (min-width: $laptop_small){
		color:$label_desktop_color;
	}
}
.form-group + .form-group{
	margin-top:20px;
}

.form-inline{
	display:flex;
	flex-direction:row;
	
	& label{
		font-size: 16px;
		line-height: 16px;
		padding: 10px 0px 10px 0px;
		border-bottom: 1px solid #000;
		width: 80px;
	}
	& input{
		flex:1;
	}
}
.form-control{
	border-radius:$input_border_radius;
	border:1px solid $input_mobile_border_color;
	color:$input_mobile_color;
	font-size:16px;
	line-height:16px;
	padding:10px 18px;
	background:transparent;
	width:100%;
	
	@media screen and (min-width: $laptop_small){
		border:0;
		border-bottom:1px solid $input_desktop_border_color;
		color:$input_desktop_color;
		border-radius:0;
		
	}
}

.checkbox-container{
	text-align:center;
	
	@media screen and (min-width: $laptop_small){
		text-align:left;
	}
	& .label{
		font-size:12px;
	}
}

.checkbox-placeholder{
	position: relative;
	display:inline-block;
	height: 10px;
	width: 10px;
	background-color: transparent;
	border:1px solid $input_mobile_border_color;
	border-radius:50%;
	top:1px;
	@media screen and (min-width: $laptop_small){
		border-color:$input_desktop_color;
	}
}

.checkbox-placeholder:after {
	content: "";
	display:none;
    position: absolute;
    left: 5px;
    top: -3px;
    width: 3px;
    height: 9px;
    border: solid $input_mobile_border_color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
	@media screen and (min-width: $laptop_small){
		border-color:$input_desktop_color;
	}
}

input:checked + .checkbox-placeholder:after{
	display:block;
}

.form-buttons{
	margin-top:40px;
	text-align:right;
	& button[type="submit"]{
		width:100%;
		
		@media screen and (min-width: $laptop_small){
			width:auto;
			padding-left:30px;
			padding-right:30px;
		}
	}
}

.social-register{
	margin-top:40px;
	text-align:center;
	
	&_title{
		color:#ffffff;
		@media screen and (min-width: $laptop_small){
			color:#000000;
		}
	}
	&_options{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		margin-top:10px;
	}
}

