$laptop_small: 769px;

$link_color: #95c4d2;
$heading_color:#ffffff;
$text_color:#ffffff;
$heading_color_desktop:#000000;
$text_color_desktop:#000000;

$primary_button_mobile_bg : #ffffff;
$primary_button_mobile_color : #D13645;

$primary_button_bg : #D13645;
$primary_button_color : #ffffff;

$facebook_color : #2d88ff;
$facebook_hover_color : #3578E5;
$twitter_color : #1da1f2;
$twitter_hover_color : #1a91da;
$google_color : #ea4335;
$google_hover_color : #fd5749;

$transition: 0.3s linear 0s;

$button_border_radius: 20px;

$input_border_radius: 20px;
$input_mobile_border_color:#ffffff;
$input_mobile_color:#ffffff;

$label_modile_color:#ffffff;

$input_desktop_border_color:#000000;
$input_desktop_color:#000000;
$label_desktop_color:#000000;
