$link_color: #95c4d2;

$primary_button_bg : #D13645;

$facebook_color : #2d88ff;
$facebook_hover_color : #3578E5;
$twitter_color : #1da1f2;
$twitter_hover_color : #1a91da;
$google_color : #ea4335;
$google_hover_color : #fd5749;

$transition: 0.3s linear 0s;

