@import 'variables';
@import 'base';
@import 'forms';
@import 'buttons';

// Media queries grouping
// :pseudo-class, ::pseudo-element
// Mobile first
// Expensive CSS properties: https://medium.com/@devdevcharlie/things-nobody-ever-taught-me-about-css-5d16be8d5d0e
// How to refactor your box-shadows on state change: https://alligator.io/css/transition-box-shadows/
// Desktop styles: app should cover at least 100% of viewport height.
// Aria, Contrast, Focus state

.register-form {
	background:url('../img/red_background.jpg');// Either use a single property or define all necessary properties
	display:flex;
	flex-direction:row;
	
	
	@media screen and (min-width: $laptop_small){
		background:#fff;
	}
	
	&_aside{
		display:none;
		flex:1 1 50%;
		background:url('../img/beach.jpg');
		
		@media screen and (min-width: $laptop_small){
			display:block;
		}
		&_content{
			max-width:500px;
			margin:50px auto;
			padding: 0 80px;
			box-sizing: border-box;
		}
		&_title{
		
			color:#fff;
			font-size:80px;
			font-weight:normal;
			margin-bottom:0px;
			
			& strong{
				display:block;
			}
		}
		&_text{
			color:#fff;
		}
	}
	&_main{
		flex:1 1 50%;
	}
	
	&_content {
		padding:40px;
		max-width: 500px;
		margin: 0 auto;
	}
}

